apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: sealed-secrets-controller
  namespace: argocd
spec:
  generators:
    - clusters:
        selector:
          matchLabels:
            env: dev
        values:
          branch: development
    - clusters:
        selector:
          matchLabels:
            env: prod
        values:
          branch: main
  template:
    metadata:
      name: "{{name}}-sealed-secrets-controller"
      annotations:
        argocd.argoproj.io/manifest-generate-paths: ".;.."
    spec:
      project: default
      source:
        repoURL: https://github.com/savagame/security-with-gitops.git
        targetRevision: "{{values.branch}}"
        path: "committing-everything-to-git-and-what-about-secrets/security/sealed-secret-controller/"
        helm:
          releaseName: "sealed-secrets"
          valueFiles:
            - "values.yaml"
      destination:
        name: "{{name}}"
        namespace: "sealed-secrets"
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
        retry:
          limit: 5
